body {
  background-color: #b9d1a3;
  margin-left: 80px;
  margin-right: 80px;
}

h1 { 
  color: #328e13;
  font-family: Helvetica; 
  font-size: 60px; 
  text-align: center;
}

h3 {
  color: #d636d9;
  font-family: Arial;
  font-size: 30px; 
  text-align: center;
}

h2 {
  color: #328e13;
  font-family: Helvetica;
  text-align: center; 
}

p { 
  text-align: center;
}

#main-navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7f2dc;
}

#main-navigation li {
  float: left;
}

#main-navigation li a {
  display: block;
  color: #d636d9;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

#main-navigation li a:link {
  color: #d636d9;
}

#main-navigation li a:visited {
  color: #d636d9;
}

#main-navigation li a:hover {
  background-color: #98c1e7;
  color: #d636d9;
}

#main-navigation li a:active {
  color: #d636d9;
}

a:link {
  color: #d636d9;
}

a:active {
  color: #eb9a31;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hobby {
  margin-bottom: 40px;
  padding: 30px 20px;
  background-color: #f0f5e
