body{
  background-color:#f5f5b8;margin-left: 80px; margin-right:80px
}

h1 { 
  color:#328e13;
  font-family: Helvetica; 
  font-size: 60px; 
  text-align: center}
p{
  color:#383406; font-family:Arial ;font-size:30 px;text-align:center
}

img{
  outline-style: inset; color:#98c1e7; outline-width: thick 
  
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

}
article {
  background-color:#f5f5b8 
}
a:link {
  color:#d93ddb;
}


:active {
  color: #3dd8db;
h2{
  color: ##328e13 ;font-family: Helvetica;
}
