body {
  background-color: #f5f5b8;
  margin-left: 80px;
  margin-right: 80px;
}

h1 { 
  color: #328e13;
  font-family: Helvetica; 
  font-size: 60px; 
  text-align: center;
}

h3 {
  color: #d636d9;
  font-family: Arial;
  font-size: 30px; 
  text-align: center;
}


h2 {
  color: #328e13;
  font-family: Helvetica;
}

p { text-align: center}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hobby-header {
  color: #d636d9; 
  font-family: Helvetica;
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.hobby p
{ text-align: center;}

.hobby-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  outline-style: inset;
  outline-color: #328e13;
  outline-width: thick;
}


.hobby {
  margin-bottom: 30px;
  padding: 20px;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7f2dc;
}

li {
  float: left;
}

li a {
  display: block;
  color: #98c1e7;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #b0c999;
}

a:link {
  color: #d636d9;
}

a:active {
  color: #eb9a31;
}


div.img-container {
  width: 80%;
  height: 0;
  padding-bottom: 75%;
}

div.img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}#author-photo {
  background-color: #e7f2dc; 
  padding: 30px;
  margin: 20px 0;
  border-radius: 10px;
  text-align: center;
}

#author-photo h2 {
  color:  #d636d9; 
  font-size: 32px;
}

#author-photo img {
  width: 400px;
  border: 5px solid #328e13;
  border-radius: 50%; 
  outline: none; 
}
#fun-facts {
  padding: 40px;
  margin: 40px ;
}

#fun-facts h2 {
  color:  #d636d9; 
  text-decoration: underline;
  text-align: center;
}

#fun-facts ul {
  list-style-type: square; 
  background-color: transparent; 
  padding-left: 40px;
  overflow: visible; 
}

#fun-facts li {
  float: none; 
  color: #000000;
  text-align: left;
  padding: 8px 0;
  font-size: 18px;
}
